<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Templates Created</title>
</head>

<body>
    <h1>Welcome to the text analyser,Enter your text below </h1>
    <p>For any action click/check on the checkbox</p>
    <form action='/analyze' method='get'>

        <textarea name='text' style='margin: opx;width:721px;height:93px;'></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove Punctuations<br>
        <input type="checkbox" name="fullcaps">UPPERCASE<br>
        <input type="checkbox" name="newlineremover">NEW LINE REMOVER<br>
        <input type="checkbox" name="extraspaceremover">EXTRA SPACE REMOVER<br>

        <button type="submit">Analyze text</button>






    </form>
</body>

</html>